* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

li {
    list-style: none;
}

body {
    position: relative;
}

#header {
    width: 100%;
}

#slidemenu {
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: -65%;
    width: 65%;
    height: 100%;
    padding: 0;
    background: #fff;
}

#slidemenu .slide-inner {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
}

#slide-header {
    overflow: auto;
    width: 100%;
    background: #524741;
    display: table;
    white-space: nowrap;
    vertical-align: middle;
    padding: 16px 0;
}

#slide-logo,
#slide-close {
    display: table-cell;
    vertical-align: middle;
}

#slide-logo {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#slide-close {
    text-align: right;
    padding-right: 64px;
}

#menu-logo {
    height: 70%;
}

#close-button {
    height: 35%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    display: none;
    z-index: 99;
}

#menu-contents {
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    height: 87%;
}

#menu-contents img {
    width: 60%;
    margin-bottom: 36px;
}

#menu-contents ul li:before {
    content: url(../images/parts/arrow_list.png);
    zoom: 1;
    margin: 0px 16px 0 48px;
}

#menu-contents ul li {
    border-bottom: 1px solid #CCCCCC;
    font-size: 2em;
    color: #4b4642;
    padding: 48px 0;
    text-align: left;
}

#menu-contents ul li a {
    color: #4b4642;
}

#menu-contents ul {
    margin-bottom: 48px;
}

#top-text {
    padding: 12px 0;
    text-align: center;
    color: #FDFFFE;
    background-color: #898176;
    font-size: 1.45em;
    white-space: nowrap;
}

#top-main {
    margin: 18px auto;
    display: table;
    height: 10%;
    text-align: center;
    width: 100%;
    line-height: 10%;
}

#top-main span {
    display: table-cell;
    height: 10%;
    vertical-align: middle;
}

#top-logo {
    height: 48%;
    margin-left: 74px;
}

#menu-button {
    width: 100px;
    cursor: pointer;
}

#top-cart {
    width: 150px;
}

#top-menu {
    width: 100%;
    margin: 12px auto;
    margin-bottom: 0px;
}

#top-menu > ul {
    display: table;
    text-align: center;
    width: 100%;
    background-color: #B9A38B;
    padding: 36px 0;
}

#top-menu > ul > li {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    border-left: 2px solid #C7B199;
    color: #FFFFFB;
    font-weight: bold;
}

#top-menu > ul > li:first-child {
    border: 0;
}

#top-menu a {
    color: #FFFFFB;
    text-decoration: none;
    font-size: 1em;
}

#search {
    text-align: center;
    margin: 24px 0;
    margin-top: 24px;
}

#search form {
    display: inline-block;
    white-space: nowrap;
    height: 128px;
    border: 2px solid #B9A38B;
    width: 90%;
    padding: 0px 24px;
}

#search-text {
    height: 80px;
    width: calc(100% - 96px);
    color: #B9A38B;
    font-size: 38px;
    margin-top: 24px;
}

#search-button {
    width: 58px;
    height: 58px;
    margin-top: 24px;
    vertical-align: middle;
    background: url(../images/parts/icon_search.png) left top no-repeat;
    background-size: cover;
}

#search input[type="text"],
#search input[type="submit"] {
    border: 0;
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
}

#main-content {
    text-align: center;
}

.contents > span,
.contents > #calendar > span {
    width: 97.5%;
    display: block;
    margin: 0 auto;
}

#news:empty {
    display: none;
}

#news,
#calendar-title {
    text-align: left;
    border-top: 1px solid #B8A48B;
    border-bottom: 1px solid #B8A48B;
    padding: 16px 10% 24px 10%;
    margin-bottom: 28px;
    font-size: 1.8em;
    font-weight: 500;
}

#calendar-title {
    text-align: center;
    margin: 34px 0 36px 0;
}

#main-banner li {
    margin: 24px 0;
}

#main-banner li a img {
    width: 100%;
}

#staff-recommend {
    margin-top: 68px;
}

#staff-recommend ul {
    margin-top: 48px;
}

#staff-recommend ul li {
    margin: 20px 0;
}

#staff-recommend ul li a img {
    width: 97.5%;
}

#banner-tile {
    width: 97.5%;
    margin: 0 auto;
}

#banner-tile ul {
    font-size: 0;
}

#banner-tile ul li {
    display: inline-block;
    width: 32%;
}

#banner-tile ul li:nth-child(3n-1) {
    margin: 0 2%;
}

#banner-tile ul li a img {
    width: 100%;
    margin-bottom: 16px;
}

#footer .title {
    text-align: center;
    background-color: #B9A38B;
    color: #FFFFFD;
    font-size: 2em;
    font-weight: bold;
    margin: 8px 0;
    padding: 24px 0;
    margin-bottom: 12px;
}

#footer .text {
    overflow-wrap: break-word;
    font-size: 1.8em;
    padding: 0 24px;
    /* margin-bottom: 24px;
    padding-bottom: 24px; */
}

#footer .text ul {
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    margin: 1em 0;
    padding-left: 28px;
}

#footer .text ul li {
    list-style: disc;
    color: #B9A38B;
    font-size: 1.8em;
    /* padding-bottom: 48px; */
}

#footer .text ul li span {
    color: #000000;
    font-size: 1em;
}

#footer-logo {
    padding: 42px 0;
    text-align: center;
    background-color: #B8A48B;
    color: #FFFFFD;
    font-size: 0.6em;
}

#footer-logo img {
    margin-bottom: 14px;
    width: 20%;
}

#payment .text ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 24px 0 24px 0;
}

#payment .text ul li {
    display: table-cell;
    vertical-align: middle;
}

#payment .text img {
    width: 60%;
}

#tel,
#tel a {
    color: #B4282B;
    font-size: 1.2em;
}

#return .text ul li,
#payment .text {
    padding-bottom: 24px;
}

#contact .text {
    padding-bottom: 42px;
}

#privacy .text {
    padding-bottom: 48px;
}

#delivery .text {
    padding-bottom: 32px;
}

#delivery .text ul li:first-of-type {
    padding-bottom 24px;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 98;
}


/* ここから先全てカレンダー */

#skplncalendar {
    padding-bottom: 34px;
}

#skpln,
#skpln th,
#skpln td {
    color: #000000;
    font-size: 14px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.4;
    text-align: left;
}

#skpln,
#skpln table,
#skpln table th,
#skpln table tr,
#skpln table td {
    padding: 0;
    margin: 0;
}

#skpln img {
    border: none;
}

#skpln table {
    border-collapse: collapse;
}

div#skpln table#skplncategory,
div#skpln table#skplnranking,
div#skpln table#skplncalendar {
    margin-bottom: 20px;
    border-collapse: collapse;
}

table#skplncategory table,
table#skplnranking table,
table#skplncalendar table {
    border-collapse: collapse;
    width: 100%;
}

table#skplnsearch {
    width: 200px;
    background-color: ;
    text-align: center;
}

table#skplnsearch tr,
table#skplnsearch td {
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding-bottom: 20px;
}

table#skplnsearch input#searchbox {
    width: 104px;
    height: 20px;
    margin-right: 10px;
}

table#skplnsearch input#sendButton {
    color: #333;
    background-color: #efefef;
    vertical-align: middle;
    font-size: 14px;
    width: 80px;
    height: 26px;
    line-height: 26px;
    border: 1px solid;
    border-color: #999;
}

table#skplncategory {
    width: 200px;
    border: solid 1px #FFFFFF;
}

table#skplncategory td {
    padding: 0 3px 3px;
    background-color: #FFFFFF;
}

table#skplncategory tr th {
    padding: 0;
}

table#skplncategory tr th div {
    margin: -1px -1px 0;
    text-align: center;
}

table#skplncategory tr th div img {
    vertical-align: top;
}

table#skplncategory table tr td {
    padding: 8px 10px;
    vertical-align: middle;
}

table#skplncategory table td.skplncateparent {
    border-top: dotted 1px #000000;
}

table#skplncategory table td.skplncatechild {
    border-top: dotted 1px transparent;
}

table#skplncategory table td.skplncate3 {
    border-top: dotted 1px transparent;
}

table#skplncategory table tr:first-child td {
    border-top: none;
}

table#skplncategory img {
    border: none;
    vertical-align: middle;
}

table#skplncategory table td img {
    margin-right: 6px;
    vertical-align: middle;
}

table#skplncategory td td,
table#skplncategory td td a {
    color: #464646;
    font-size: 12px;
    background-color: #FFFFFF;
}

table#skplncategory td td.skplncateparent,
table#skplncategory td td.skplncateparent a {
    color: #000000;
    font-size: 12px;
    background-color: #FFFFFF;
    font-weight: bold;
}

table#skplncategory td td.skplncate4,
table#skplncategory td td.skplncate4 a,
table#skplncategory td td.skplncate5,
table#skplncategory td td.skplncate5 a {
    font-size: 11px;
    color: #8A8A8A;
}

table#skplncategory td td.skplncateparent {
    padding-left: 22px;
    text-indent: -1em;
}

table#skplncategory td.skplncatechild {
    padding-left: 40px;
    text-indent: -1.4em;
}

table#skplncategory td.skplncate3 {
    padding-left: 50px;
    text-indent: -1em;
}

table#skplncategory td.skplncate4 {
    padding-left: 65px;
    text-indent: -1em;
}

table#skplncategory td.skplncate5 {
    padding-left: 75px;
    text-indent: 0;
}

table#skplnranking {
    width: 200px;
    border: solid 1px #FFFFFF;
    border-collapse: collapse;
}

table#skplnranking th,
table#skplnranking table td {
    padding: 0;
}

table#skplnranking tr th div {
    margin: -1px -1px 0;
    text-align: center;
}

table#skplnranking td {
    padding: 0 3px 3px;
}

table#skplnranking table.skplnproduct {
    border-top: dashed 1px #000000;
}

table#skplnranking table tr:first-child table.skplnproduct {
    border-top: none;
}

table#skplnranking table.skplnproduct td {
    padding: 5px;
}

table#skplnranking td,
table#skplnranking table.skplnproduct td {
    background-color: #FFFFFF;
}

table#skplnranking table.skplnproduct td a {
    color: #D1525D;
    font-size: 12px;
}

table#skplnranking td.skplnrankstatus {
    width: 25%;
    text-align: center;
}

table#skplnranking td.skplnrankimgara {
    width: 75%;
    text-align: center;
}

table#skplnranking td.skplnrankimgara img {
    border: solid 1px #D4D6D5;
    width: auto;
    max-width: 128px;
    max-height: 128px;
}

table#skplncalendar {
    width: 95%;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    text-align: center;
    margin: 0 auto;
}

img#skplncalring {
    z-index: 9999;
}

table#skplncalendar th {
    padding: 0;
}

table#skplncalendar tr th div {
    margin: -1px -1px 0;
    text-align: center;
}

table#skplncalendar td {
    padding: 1px 9px 9px;
}

table#skplncalendar table {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
}

table#skplncalendar table th,
table#skplncalendar table td {
    padding: 0;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

table#skplncalendar table th {
    color: #000000;
    font-size: 28px;
}

table#skplncalendar td {
    color: #454344;
    font-size: 11px;
}

table#skplncalendar table td {
    color: #454344;
    font-size: 28px;
    padding: 12px 0;
}

table#skplncalendar td tr td {
    border: solid 1px #C5C5C5;
    border-top: none;
    border-bottom: solid 1px #C5C5C5;
    background-color: #F6F6F6;
}

table#skplncalendar td tr.skplncaltitle td {
    color: #353535;
    font-size: 12px;
    background-color: #C2C2C2;
    border: solid 1px #C2C2C2;
    padding: 4px 0;
}

table#skplncalendar td tr td.skplncalholiday {
    background-color: #D1525B;
}

table#skplncalendar td.skplncalholidaycol {
    text-align: center;
}

table#skplncalendar td span.skplncalholidaycol1 {
    color: #D1525B;
    font-size: 36px;
}

table#skplncalendar td span.skplncalholidaycol2 {
    color: #000000;
    font-size: 36px;
}